@page
@model Privacy.WebApp.Pages.ActivateAccountModel
@{
    ViewData["Title"] = "Ativar Conta";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="signup-wrapper">

    <div class="fake-nav">
        <a href="/" class="logo">
            <img src="../assets/img/logo/logo-menor.svg" width="112" height="28" alt="">
        </a>
    </div>


    <div class="outer-panel">
        <div class="outer-panel-inner">
            <div id="signup-panel-5" class="process-panel-wrap is-active">
                <div class="form-panel">
                    <img class="success-image" src="../assets/img/illustrations/signup/mailbox.svg" alt="">
                    <div class="success-text">
                        <h3>Sua conta foi <strong>ativada com sucesso</strong>.</h3>
                        <p> Efetue seu primeiro acesso.</p>
                        <a id="signup-finish" class="button is-fullwidth is-rounded" href="\Login">Vamos lá</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

