@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Privacy | @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/css/bulma.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/core.css">
</head>
<body>
    <div class="signup-wrapper">

        <div class="outer-panel">
            <div class="outer-panel-inner">
                <div id="signup-panel-5" class="process-panel-wrap is-active">
                    <div class="form-panel">
                        <a href="/Login"><img class="success-image" src="~/assets/img/telaLogin/LogoLaranja.png" alt=""></a>
                        <div class="text-privacidade">
                            <h2 class="title-privacidade">Última Modificação:  março 2020</h2>
                            <p>
                                Os nossos serviços não são feitos para menores de 18. possuímos meios de
                                segurança que garantem que não coletamos dados de menores de 18.
                            </p>
                            <br />
                            <br />
                            <h2 class="title-privacidade">Introdução</h2>
                            <p>
                                A <span class="title-privacidade">Privacy</span> é uma plataforma que permite que alguns compartilhem conteúdo; que outros desfrutem desse conteúdo e para alguns casos, ambas as situações.
                            </p>
                            <p>
                                <span class="title-privacidade">Privacy</span> é o nome fantasia da empresa MSM DIGITAL TECNOLOGIA E SERVICOS DIGITAIS EIRELI com o CNPJ: 36.503.296/0001-00.
                            </p>
                            <p>
                                Quando alguém usa os nossos serviços os mesmos compartilham algumas informações conosco. Esta política revela quais informações coletamos, como as usamos e com quem as compartilhamos.
                            </p>
                            <p>
                                Confirmamos que a base legal para o processamento de seus dados é que, ao participar de nossa rede social, você nos contratou e o processamento dos dados aqui estabelecidos faz parte desse contrato. Na medida em que temos que monitorar e controlar o uso de nosso site, a base para esse processamento é cumprir uma obrigação legal
                            </p>
                            <p>
                                Se você tiver alguma dúvida sobre algo em nossa Política de Privacidade ou desejar reclamar, entre em contato com <a href="mailto:privacy@privacy.com.br">privacy@privacy.com.br</a>. Esperamos poder resolver qualquer dúvida ou preocupação que você tenha sobre o uso de suas informações.
                            </p>
                            <br /><br />
                            <h2 class="title-privacidade">Abaixo, definimos nossa política, mas lembre-se de que:</h2>
                            <p>
                                1.     todo o conteúdo é monitorado por terceiros para garantir que a rede seja lícita e legal e que não seja prejudicada;
                            </p>
                            <p>
                                2.     você não dará ou fornecerá informações financeiras para nós, mas para nossos parceiros escolhidos. Essas entidades podem ou não estar localizadas na América do Sul;
                            </p>
                            <p>
                                3.     nós não transferiremos os seus dados pessoais para fora do Brasil;
                            </p>
                            <p>
                                4.     não tomaremos decisões que possam lhe prejudicar.
                            </p>
                            <br />
                            <p>
                                Os usuários são "criadores" ou "seguidores". Um Criador publica conteúdo para os seguidores acessarem. Os criadores determinam a taxa de assinatura mensal que os seguidores pagam para visualizar o conteúdo. Um seguidor é que decide qual conteúdo visualizar.
                            </p>
                            <p>
                                Nesta política, o usuário ou você se refere a qualquer criador ou seguidor
                            </p>
                            <br />
                            <br />
                            <h2 class="title-privacidade">Informações que coletamos independentemente de você ser um criador ou seguidor, ou ambos, existem três categorias de informações que coletamos:</h2>
                            <p class="p-margin-left">
                                •	Informação que você nos escolher dar.
                            </p>
                            <p class="p-margin-left">
                                •	Informação que recebemos quando você usa a nossa plataforma.
                            </p>
                            <p class="p-margin-left">
                                •	Informação que recebemos de terceiros.
                            </p>

                            <br /><br />
                            <h2 class="title-privacidade">Informações que você escolhe nos fornecer:</h2>

                            <h2 class="title-privacidade">Para abrir uma conta e usar nossos serviços, você divulgará para nós:</h2>

                            <p class="p-margin-left">
                                1. seu nome;
                            </p>
                            <p class="p-margin-left">
                                2. endereço postal;
                            </p>
                            <p class="p-margin-left">
                                3. um endereço de email;
                            </p>
                            <p class="p-margin-left">
                                4. um nome de usuário;
                            </p>
                            <p class="p-margin-left">
                                5. sua data de nascimento;
                            </p>
                            <p class="p-margin-left">
                                6. uma foto do seu CPF.
                            </p>
                            <p class="p-margin-left">
                                7. suas credenciais bancárias
                            </p>
                            <br />
                            <p>
                                Para facilitar a localização do seu perfil para outras pessoas, também podemos solicitar que você nos forneça algumas informações adicionais que serão visíveis publicamente em nossos serviços, como fotos de perfil, um nome de perfil ou outras informações úteis de identificação.
                            </p>
                            <p>
                                Tenha cuidado ao fornecer informações sobre você e outras pessoas que você conhece (é provável que sejam dados pessoais) que serão carregadas nas suas páginas da nossa rede. Outros usuários talvez possam usar esse conteúdo para seus próprios propósitos.
                            </p>
                            <br />
                            <p>
                                Se você tiver algum motivo para entrar em contato conosco separadamente, por exemplo, para discutir preocupações com o atendimento ao cliente, coletaremos as informações que você oferecer.
                            </p>
                            <br />
                            <p>
                                Informações que obtemos quando você usa nossos serviços.
                            </p>
                            <p>
                                Quando você usa nossos serviços, coletamos informações sobre o conteúdo que você visualizou ou compartilhou. Por exemplo:
                            </p>
                            <br />
                            <p class="p-margin-left">
                                •	informações de uso. Coletamos informações sobre o conteúdo que os espectadores acessaram. A partir disso, podemos destacar para esse usuário um conteúdo semelhante;
                            </p>
                            <p class="p-margin-left">
                                •	informações de conteúdo. Coletamos o conteúdo que você cria em nossos serviços, como adesivos personalizados, fotos, vídeos, texto e informações sobre o conteúdo que você cria ou fornece, como se o destinatário visualizou o conteúdo e os metadados fornecidos com o conteúdo.
                            </p>
                            <p class="p-margin-left">
                                •	Informação de dispositivo. Coletamos endereços IP ou outros dados de identificação de e sobre os dispositivos que você usa. Por exemplo, coletamos:
                            </p>
                            <p class="p-margin-left">
                                •	informações sobre seu hardware e software, como modelo de hardware, versão do sistema operacional, memória do dispositivo, identificadores de publicidade, identificadores exclusivos de aplicativos, aplicativos instalados, identificadores exclusivos de dispositivos, tipo de navegador, idioma, nível da bateria e fuso horário;
                            </p>
                            <p class="p-margin-left">
                                •	informações de localização. Quando você usa nossos serviços, podemos coletar informações sobre sua localização. Com o seu consentimento, também podemos coletar informações sobre sua localização precisa usando métodos que incluem GPS, redes sem fio, torres de celular, pontos de acesso Wi-Fi e outros sensores, como giroscópios, acelerômetros e bússolas.
                            </p>
                            <p class="p-margin-left">
                                •	Informações coletadas por cookies e outras tecnologias. Como a maioria dos serviços on-line, usamos cookies. Os cookies que usamos são os habituais analítica do Google e cookies de sessão
                            </p>
                            <p class="p-margin-left">
                                •	(Para sua informação: a maioria dos navegadores da Web está configurada para aceitar cookies por padrão. Se preferir, você geralmente pode remover ou rejeitar cookies do navegador através das configurações do seu navegador ou dispositivo. Lembre-se, porém, de que a remoção ou rejeição de cookies pode afetar a disponibilidade e funcionalidade de nossos serviços.)
                            </p>
                            <p class="p-margin-left">
                                •	informações de acesso. Também coletamos informações de acesso quando você usa nosso site. Essa informação inclui, entre outras coisas:
                            </p>
                            <br />
                            <p class="p-margin-left">
                                1. detalhes sobre como você usou nossos serviços.
                            </p>
                            <p class="p-margin-left">
                                2. informações do dispositivo, como o tipo e idioma do seu navegador da web.
                            </p>
                            <p class="p-margin-left">
                                3. tempos de acesso.
                            </p>
                            <p class="p-margin-left">
                                4. páginas visualizadas.
                            </p>
                            <p class="p-margin-left">
                                5. endereço de IP.
                            </p>
                            <p class="p-margin-left">
                                6. identificadores associados a cookies ou outras tecnologias que possam identificar exclusivamente seu dispositivo ou navegador
                            </p>
                            <br /><br />
                            <h2 class="title-privacidade">Como usamos informação:</h2>
                            <p>
                                Usamos essas informações para garantir que o conteúdo possa ser apreciado por todos. Nosso objetivo é nos esforçar para manter o conteúdo adequado, de bom gosto e lícito. Aqui estão algumas das maneiras de fazer isso:
                            </p>
                            <br />
                            <p class="p-margin-left">
                                • desenvolver, operar, melhorar, entregar, manter e proteger nossos produtos e serviços.
                            </p>
                            <p class="p-margin-left">
                                • enviar comunicações, inclusive por e-mail. Por exemplo, podemos usar o e-mail para responder a consultas de suporte ou para compartilhar informações sobre o nosso site.
                            </p>
                            <p class="p-margin-left">
                                • monitorar e analisar tendências e uso.
                            </p>
                            <p class="p-margin-left">
                                • verifique sua identidade e evite fraudes ou outras atividades ilegais ou não autorizadas.
                            </p>
                            <p class="p-margin-left">
                                • use as informações que coletamos de cookies e outras tecnologias para aprimorar os serviços e sua experiência com eles.
                            </p>
                            <p class="p-margin-left">
                                • impor nossos Termos de Serviço e outras políticas de uso.
                            </p>
                            <br />
                            <p>
                                Também podemos armazenar ou usar informações localmente no seu dispositivo.
                            </p>
                            <br />
                            <h2 class="title-privacidade">Como compartilhamos informações</h2>

                            <p>Podemos compartilhar informações sobre você das seguintes maneiras:</p>
                            <br />
                            <h2 class="title-privacidade">Com outros usuários.</h2>
                            <p>
                                Podemos compartilhar as seguintes informações com outros usuários:
                            </p>
                            <p class="p-margin-left">
                                • informações inseridas, como nome de usuário, nome do perfil e biografia do perfil.
                            </p>
                            <p class="p-margin-left">
                                • qualquer informação adicional que você consentiu em compartilhar.
                            </p>
                            <p class="p-margin-left">
                                • o conteúdo que você publicar ou enviar será compartilhado com seus fãs e / ou com os Criadores que você assina.
                            </p>
                            <br />
                            <h2 class="title-privacidade">Com todos os usuários.</h2>
                            </p>
                            <p>
                                Podemos compartilhar as seguintes informações com todos os usuários:
                            </p>
                            <p class="p-margin-left">
                                •	Podemos compartilhar as seguintes informações com todos os usuários.
                            </p>
                            <br />
                            <h2 class="title-privacidade">Com terceiros.</h2>
                            <p>
                                Podemos compartilhar suas informações com os seguintes terceiros:
                            </p>
                            <p class="p-margin-left">
                                • Com provedores de serviços. Podemos compartilhar informações sobre você com prestadores de serviços que prestam serviços em nosso nome.
                            </p>
                            <p class="p-margin-left">
                                • Com terceiros por razões legais. Podemos compartilhar informações sobre você se acreditarmos razoavelmente que a divulgação das informações é necessária para:
                            </p>
                            <br />
                            <p class="p-margin-left">
                                - Cumprir com qualquer processo legal válido, solicitação governamental ou lei, regra ou regulamento aplicável. investigar, remediar ou aplicar possíveis violações dos Termos de Serviço.
                            </p>
                            <p class="p-margin-left">
                                - Proteger nossos direitos, propriedade e segurança de nossos usuários ou de terceiros.
                            </p>
                            <p class="p-margin-left">
                                - Detectar e resolver qualquer problema de fraude ou segurança.
                            </p>
                            <p class="p-margin-left">
                                - Com terceiros como parte de uma fusão ou aquisição. Se a Privacy se envolver em uma fusão, venda de ativos, financiamento, liquidação ou falência ou aquisição de toda ou parte de nossos negócios para outra empresa, poderemos compartilhar suas informações com essa empresa antes e depois do fechamento da transação.
                            </p>
                            <br />
                            <h2 class="title-privacidade"> Conteúdo e integrações de terceiros:</h2>
                            <p>
                                No momento, não oferecemos isso.
                            </p>
                            <br />
                            <h2 class="title-privacidade">Serviços de análise e publicidade:</h2>
                            <p>
                                Não permitimos que outras empresas coletem informações sobre como você usa nossos serviços.
                            </p>
                            <br />
                            <h2 class="title-privacidade">Por quanto tempo mantemos seu conteúdo:</h2>
                            <p>
                                Queremos que você esteja no controle de suas informações. Você pode excluir qualquer conteúdo quando quiser. Se você fechar a conta, os dados pessoais que mantemos sobre você serão excluídos após seis meses. Este parágrafo satisfaz as disposições do artigo 13 (2) (b & c) do RGPD.
                            </p>
                                <br /><br />
                                      <div class="control" style="color:gray !important;text-align:center;">
                                          <span>&copy;@DateTime.Now.Year <a href="/Login" style="color:gray !important;">Privacy</a></span>&nbsp;<span style="font-size:12px;">&#9679;</span>
                                          <a href="#" style="color:gray !important;">Blog</a>&nbsp;<span style="font-size:12px;">&#9679;</span>
                                          <a href="https://twitter.com/sejaprivacy/" target="_blank" style="color:gray !important;">Twitter</a>&nbsp;<span style="font-size:12px;">&#9679;</span>
                                          <a href="https://www.instagram.com/privacy.app/" target="_blank" style="color:gray !important;">Instagram</a>&nbsp;
                                      </div>
                                <br />
                                <div class="control" style="color:gray !important;text-align:center;">
                                    <a href="#" style="color:gray !important;">FAQs</a>&nbsp;<span style="font-size:12px;">&#9679;</span>
                                    <a href="#" style="color:gray !important;">Termo</a>&nbsp;<span style="font-size:12px;">&#9679;</span>
                                    <a href="/Privacy" style="color:gray !important;">Privacidade</a>&nbsp;<span style="font-size:12px;">&#9679;</span>
                                    <a href="mailto:contato@privacy.com.br,atendimento@privacy.com.br" style="color:gray !important;">Contato</a>&nbsp;<span style="font-size:12px;">&#9679;</span>
                                    <a href="/HowItWorks" style="color:gray !important;">Como funciona</a>&nbsp;
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
